- @PAGE_IDENT = "Home"

- if @stories.current_page > 1
    = render :partial => "verblog/shared/page_nav"

= render :partial => "verblog/shared/story/full/story", :collection => @stories

= render :partial => "verblog/shared/page_nav"
