- register_content assets.first
.pf.pfR{ :style => "width: #{ assets.first.asset.size(Verblog::Config.float_asset).width }px"}
	= assets.first.asset.size(Verblog::Config.float_asset).tag
	.pfP= assets.first.asset.owner
	= markdown(assets.first.caption).html_safe