<!DOCTYPE html>
<html>
<head>
  <title>Verblog</title>
  <%= stylesheet_link_tag    "verblog/application", :media => "all" %>
  <%= javascript_include_tag "verblog/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
